<div class="card bg-light text-white deck_card">
  <%= image_tag "#{deck.name.downcase}.jpg", class: "deck_card_img", style: "min-width:250px;height:322px;object-fit:cover;" %>
  <div class="card-img-overlay">
    <h3 class="card-title"><%= deck.name %></h3>
    <% if deck_flashcards_count == 1 %>
      <p class="card-text"><%= deck_flashcards_count %> card</p>
    <% else %>
      <p class="card-text"><%= deck_flashcards_count %> cards</p>
    <% end %>
    <p class="card-text">Last updated 3 mins ago</p>
    <%= link_to "Add", user_decks_path(deck_id: deck.id), method: :post, class: 'btn btn-primary' %>
  </div>
</div>
