<div class="card shadow text-center my-auto">
  <div class="card-header">
    Frequency rank: <%= @top_flashcard.frequency_rank %>
  </div>
  <div class="card-body">

    <%= link_to "Ignore card", user_decks_path, class: "btn btn-secondary shadow", method: :patch %>

    <ul class="list-group list-group-flush">

      <li class="list-group-item">
        <% if @top_flashcard.test_direction == 'tl-en' %>
          <p class="text-muted"><%= @top_flashcard.deck.language %></p>
        <% else %>
          <p class="text-muted">English</p>
        <% end %>

        <h5 class="card-title"><%= @top_flashcard.question %></h5>
        <i class="fa-solid fa-volume-high"></i>

        <% if @top_flashcard.test_direction == 'tl-en' %>
          <p class="card-text fst-italic"><%= sanitize @top_flashcard.source_sentence %></p>
        <% else %>
          <p class="card-text fst-italic"><%= sanitize @top_flashcard.target_sentence %></p>
        <% end %>
      </li>

      <li class="list-group-item">

        <% if @top_flashcard.test_direction == 'tl-en' %>
          <p class="text-muted">English</p>
        <% else %>
          <p class="text-muted"><%= @top_flashcard.deck.language %></p>
        <% end %>

        <div class="collapse" id="collapseExample">
          <h5 class="card-title"><%= @top_flashcard.answer %></h5>
          <i class="fa-solid fa-volume-high"></i>

          <% if @top_flashcard.test_direction == 'tl-en' %>
            <p class="card-text fst-italic"><%= sanitize @top_flashcard.target_sentence %></p>
          <% else %>
            <p class="card-text fst-italic"><%= sanitize @top_flashcard.source_sentence %></p>
          <% end %>
        </div>

      </li>


  </div>

  <div class="card-footer text-muted">
    <% if top_user_flashcard.learnt %>
      Last review: <%= top_user_flashcard.previous_review %>
    <% end %>
  </div>

  <a class="btn btn-primary btn-lg w-100 shadow collapsed fixed-bottom see-answer-button" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    <div id="see-answer">
      See answer
    </div>
    <%# <div id="hide-answer">
      Hide answer
    </div>
    %>
  </a>
</div>
