
<div class="mx-auto">
Showing cards <%= section.to_i * 100 %> - <%= section.to_i * 100 + 99 %>
</div>

<nav aria-label="Page navigation example" class="mx-auto">
  <ul class="pagination">
    <%# li class="page-item"><a class="page-link" href="#">Previous</a></li> %>
    <% if section.to_i > 0 %>
      <li class="page-item"><%= link_to "Previous", user_deck_path(user_deck.id, section: section.to_i - 1), method: :get, class: "page-link" %></li>
      <li class="page-item"><a class="page-link" href="#"><%= section.to_i - 1 %></a></li>
    <% else %>
      <li class="page-item disabled"><%= link_to "Previous", user_deck_path(user_deck.id, section: section.to_i - 1), method: :get, class: "page-link" %></li>
    <% end %>
    <li class="page-item active"><%= link_to section, user_deck_path(user_deck.id, section: section), method: :get, class: "page-link" %></li>
    <li class="page-item"><%= link_to section.to_i + 1, user_deck_path(user_deck.id, section: section.to_i + 1), method: :get, class: "page-link" %></li>
    <%# li class="page-item"><a class="page-link" href="#"><%= section.to_i + 1 %><%# </a></li> %>
    <%# li class="page-item"><a class="page-link" href="#">Next</a></li> %>
    <li class="page-item"><%= link_to "Next", user_deck_path(user_deck.id, section: section.to_i + 1), method: :get, class: "page-link" %></li>
  </ul>
</nav>
