
<h1><%= @user_deck.language %></h1>

<%# <%= @user_deck.id %>

<%# <%= link_to "Learn", user_flashcards_path %>
<%# <br>
<%# <br>
<%# <%= link_to "Review", user_flashcards_path %>
<%# <br>
<%# <br>

<%# <%= @user_deck.id %>

<%# <%= @user_deck_flashcards %>

<%# <%= @flashcards %>
<%# <br>
<%# <br> %>

<%# <% @user_deck_flashcards.each do |user_deck_flashcard| %>

<% if @user_deck_flashcards.any? %>
<%# <% if [ @user_deck_flashcards.each { |flashcard| [:learnt] == false } ].any? %>

  <%= render "components/flashcard", top_flashcard: @top_flashcard %>

  <%# <button>Incorrect</button>
  <%# Edit current user_flashcard with new due review and redirect back to this view %>

  <%# <button>Correct</button>
  <%#= link_to "Correct", update_learn_user_flashcard_path(@top_user_flashcard), method: :patch %>
  <%# Edit current user_flashcard with new due review and redirect back to this view %>

  <div class="collapse" id="collapseExample" style="margin-top:auto;">
    <div class= "d-flex shadow answer-buttons-row">
      <%# <div class="d-grid gap-2"> %>
      <%= link_to "Incorrect", update_learn_user_flashcard_path(@top_user_flashcard), class: "btn btn-danger btn-lg w-50", method: :patch %>
      <%= link_to "Correct", update_learn_user_flashcard_path(@top_user_flashcard), class: "btn btn-success btn-lg w-50", method: :patch %>
      <%# </div> %>
    </div>
  </div>
<% else %>
  <h2>All caught up!</h2>
<% end %>


<%# <% @user_deck_flashcards.sort_by{ |flashcard| flashcard[:due_to_learn] }.each do |user_deck_flashcard| %>
  <%# <%= user_deck_flashcard.learnt %>
<%#   <%= user_deck_flashcard.due_to_learn %>
<%#   <%= user_deck_flashcard.flashcard_id %>
<%#   <%= @flashcards.ids %>
<%#   <% @flashcards.where(id: user_deck_flashcard.flashcard_id).each do |flashcard| %>
<%#     <%= flashcard.front %>
<%#     <%= flashcard.back %>
<%#   <% end %>
<%# <% end %>
