<%# <div class="container-fluid main-container">
  <div class="row"> %>
    <%# <div class="col"> %>
<div class='container'>

  <%# This div display the flash notice "Deck already added!" %>
  <% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

  <div class="row row-cols-1 row-cols-md-3 g-4">

    <% @decks.each do | deck | %>

      <% deck_flashcards_count = @flashcards.where(deck_id: deck.id).count %>

      <div class="col">

        <div class="card bg-dark text-white">
          <%= image_tag "#{deck.name.downcase}.jpg", class: "card_img" %>
          <div class="card-img-overlay">
            <h5 class="card-title"><%= deck.name %></h5>
            <p class="card-text"><%= deck_flashcards_count %> card(s)</p>
            <p class="card-text">Last updated 3 mins ago</p>
            <%= button_to "Add", user_decks_path(deck_id: deck.id), method: :post, id: 'show-button', class: 'deck-button' %>
          </div>
        </div>

      </div>

    <% end %>


  </div>



</div>
