<nav class="navbar myNavbar py-3 navbar-expand fixed-top navbar-dark "> <%# .py-3 class is to slightly increase navbar height %>
  <div class="container">
    <a class="navbar-brand" href="/">Verble</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item active fw-bold">
            <%# <%= link_to "My Decks", user_decks_path%>
            <a class="nav-link" href="/user_decks"> My Decks <span class="sr-only">(current)</span></a>
          </li>
        <% end %>
        <li class="nav-item active fw-bold">
          <%# <%= link_to "My Decks", user_decks_path%>
          <a class="nav-link" href="/decks"> Browse Decks <span class="sr-only">(current)</span></a>
        </li>
        <%# <li class="nav-item active">
          <a class="nav-link" href="#"> Language <span class="sr-only">(current)</span></a>
        </li> %>
      </ul>
      <% if @user_deck %>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link"> <%= @user_deck.language %> <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      <% end %>
      <% unless user_signed_in? %>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/users/sign_in"> Log in <span class="sr-only">(current)</span></a>
            <%#= link_to "Log in", new_user_session_path, :method => :get %>
          </li>
          <li class="nav-link">
            <%= link_to new_user_registration_path, :method => :get do %>
              <span class="badge bg-secondary bg-light text-dark">Sign up</span>
            <% end %>
          </li>
        </ul>
      <% end %>
      <% if user_signed_in? %>
        <ul class="navbar-nav ms-auto">
            <span class="navbar-text d-none d-md-block" style="padding-left:8px;padding-right:8px;"> <%# manually added CSS padding because navbar-text class doesn't have it by default, unlike navbar-link class %>
              Logged in as <%= current_user.email %>
            </span>
          <%#
          <li class="nav-item dropdown d-none d-md-block"> <%# d-none d-md-block hides this div on screens smaller than md %>
          <%#
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Logged in as <%= current_user.email %>
          <%#
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
          </li> %>
          <%# <div class="dropdown">
            <button class="dropbtn">Mark
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Profile</a>
              <a href="#">Settings</a>
              <a href="#">Log out</a>
            </div>
          </div> %>
          <%# <li class="nav-item active">
            <a class="nav-link" href="#"> Mark <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#"> Log out <span class="sr-only">(current)</span></a>
          </li> %>
          <li class="nav-item active  fw-bold">
            <%# <a class="nav-link" href="/users/sign_up"> Log out <span class="sr-only">(current)</span></a> %>
            <%# <a class="nav-link" href= "/users/sign_out" > Log out <span class="sr-only">(current)</span></a> %>
            <a class="nav-link" href="/users/sign_out" data-method="delete">Log out</a>
            <%#= link_to "Log out", destroy_user_session_path, :method => :delete, style: 'text-decoration:none;' %>
          </li>
        </ul>
        <%# <li> %>
          <%# <a class="nav-link" href="/users/sign_up"> Log out <span class="sr-only">(current)</span></a> %>
          <%#= link_to "Log out", destroy_user_session_path, :method => :delete, style: 'text-decoration:none !important;' %>
        <%# </li> %>

      <% end %>
      <%# <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> %>
    </div>
  </div>
</nav>
